<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dependabot Gitlab</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <a class="version" href="https://dependabot-gitlab.gitlab.io/dependabot"><%= "v#{version}"%></a>
    <%= button_to "Logout", logout_path, method: :delete, title: "Logout user" unless AppConfig.anonymous_access %>
    <h1>Projects</h1>
    <% flash.each do |type, msg| %>
      <p>
        <strong><%= type %></strong>: <%= msg %>
      </p>
    <% end %>

    <%= form_with url: projects_path, method: :post do |form| %>
      <%= form.label :project_name, "Project path to add:" %>
      <%= form.text_field :project_name %>
      <%= form.label :access_token, "Access token: (optional)" %>
      <%= form.text_field :access_token %>
      <%= form.submit "Add", id: "add_project" %>
    <% end %>

    <h2>Active Projects</h2>
    <% @projects.not(configuration: nil).each do |project| %>
      <%= render partial: 'project_table', locals: { project: project } %>
    <% end %>

    <h2>Inactive Projects</h2>
    <% @projects.where(configuration: nil).each do |project| %>
      <%= render partial: 'project_table', locals: { project: project } %>
    <% end %>
  </body>
</html>
